{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="page-wrappers">
  <section class="p-b-30 p-t-100">
    <div class="container">
    <div class="row">
      <div class="col-sm-12">
  {{ .Content }}
</div>
</div>
</div>
</div>

<!-- footer -->
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
