<section class="featured-light relative">
    <div class="container">
        <div class="md-p-l-20 md-p-r-20 m-b-20 xs-no-padding">
            <div class="row p-t-85">
                <div class="col-sm-6 col-md-6">
                  <img class="img-responsive" src="/assets/images/authorised_provider.gif">
                </div>
                <div class="col-sm-6 col-md-6">
                  <h1>ABB Authorised Value Provider</h1>
                  <p>LeadEPC is an authorised value provider, system integrator and technical distributor for ABB VSD products.</p>
                  <p>We have specialised skills to implement Variable Speed Drive systems in the Industry.</p>
                  <p>To undertake the ABB channel partnership, we had to do extensive training on the product and keep considerable spares holding in our stores in Vanderbijlpark.</p>
                  <p>Further roll-out is envisaged to include MV drives, Cabinet Drives, service and maintenance as well as PLC type control systems.</p>                </div>
            </div>
        </div>
    </div>
</section>
