<section class="jumbotron full-vh bg-primary-light" data-pages="parallax">
<div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container" id="hero">
        <div class="swiper-wrapper">
            <!-- BEGIN SLIDE -->
            <div class="swiper-slide fit bg-complete">
                <!-- BEGIN IMAGE PARRALAX -->
                <div class="slider-wrapper">
                    <div class="image" data-swiper-parallax="30%">
                        <div data-pages-bg-image="assets/images/hero_solar.gif" data-bg-overlay-class="bg-white" class="full-height" style="background-image: url(&quot;assets/images/hero_solar.gif&quot;);"><div class="bg-overlay bg-white" style="opacity: 0;"></div></div>
                    </div>
                </div>
                <!-- END IMAGE PARRALAX -->
                <!-- BEGIN CONTENT -->
                <div class="content-layer">
                    <div class="inner full-height" style="transform: translateY(302.77px);">
                        <div class="container-xs-height full-height">
                            <div class="col-xs-height col-middle text-left">
                                <div class="container text-center">
                                    <h6 class="block-title m-b-0 text-white hint-text hidden-xs">
                                        <p><em>Leading from the front in service excellence and commitment.</em></p>                                        </h6>
                                    <h1 class="m-t-10 m-b-40 light text-white hidden-xs">
                                        Lead EPC undertakes specialist engineering, procurement and construction projects.                                        </h1>
                                    <h2 class="m-t-10 m-b-40 light text-white visible-xs">
                                        Lead EPC undertakes specialist engineering, procurement and construction projects.                                        </h2>
                                    <a class="m-r-10 btn btn-lg btn-white btn-bordered" href="#about" role="button" data-scroll="">Learn more</a>
                                    <a class="m-l-10 btn btn-lg btn-white btn-bordered" href="/news" role="button">Latest news</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SLIDE -->
        </div>
    </div>
</div>
<!-- END SLIDER -->
</section>
