<nav class="header static" data-pages="header">
  <nav class="header relative">
    <div class="container relative">
      <div class="pull-left">
        <div class="header-inner">
          <a href="http://leadepc.com">
            <img src="/assets/images/logo_black.png" class="logo" width="152" height="21" data-src-retina="/assets/images/logo_black_2x.png" alt="">
            <img src="/assets/images/logo_white.png" class="alt" width="152" height="21" data-src-retina="/assets/images/logo_white_2x.png" alt="">
          </a>
        </div>
      </div>
      <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right" data-pages="header-toggle" data-pages-element="#header">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="pull-right hidden-sm hidden-xs col-sm-4 text-right">
        <div class="header-inner">
          <ul class="menu no-padding">
            <li><a href="https://www.facebook.com/Lead-EPC-1433348443578372/" class="text-black fs-16 xs-no-padding"><i class="fa fa-facebook"></i></a></li>
            <li><a href="/news/feed" class="text-black fs-16"><i class="fa fa-rss"></i></a></li>
            <li><a href="https://www.linkedin.com/company/lead-epc" class="text-black fs-16"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </nav>
  <!-- BEGIN NESTED MENU -->
  <nav class="header sm-header relative horizontal bg-light-blue sm-p-t-20" data-spy="affix" data-offset-top="60">
    <div class="container relative ">
      <div class="menu-content" data-pages-direction="slideRight" id="header">
        <!-- BEGIN HEADER CLOSE TOGGLE FOR MOBILE -->
        <div class="pull-right">
          <a href="#" class="text-black link padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10" data-pages="header-toggle" data-pages-element="#header">
            <i class=" pg-close_line"></i>
          </a>
        </div>
        <div class="pull-left sm-block sm-full-width">
          <div class="header-inner">
            <ul class="menu no-padding">
              <li><a class="text-black" href="/" data-text="Home">Home </a></li>
              <li><a class="text-black" href="/#about">About</a></li>
              <li><a class="text-black" href="/#services">Services</a></li>
              <li><a class="text-black" href="/#projects">Projects</a></li>
              <li><a class="text-black" href="/#team">Team</a></li>
              <li><a class="text-black" href="/#contact">Contact</a></li>
              <li><a class="text-black" href="/news">News</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </nav>
  <!-- END NESTED MENU -->
</nav>
