<section id="team" class="featured p-b-65 p-t-55 bg-dark xs-full-width">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!-- BEGIN SLIDER -->
                <div class="swiper-container swiper-container-horizontal swiper-container-fade" id="inner-content-slider">
                    <div class="top-left z-index-10 xs-relative xs-m-b-20">
                        <h5 class="block-title text-black hint-text">
                            Our Talented Team                        </h5>
                    </div>
                    <div class="swiper-wrapper m-t-40">
                        <!-- BEGIN SLIDE -->
                        <div class="swiper-slide bg-dark fit swiper-slide-active" style="width: 455px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                            <h1 class="m-t-5 light text-left">
                                Every great business is built on Friendship.                            </h1>
                        </div>
                        <!-- END SLIDE -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height m-t-40">
                        <div class="col-sm-6 col-md-4">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- image -->
                                                    <img class="img-responsive" src="/team/hengela.gif" alt="Hennie Engela">
                                                <!-- /image -->
                    </div>
                    <div class="col-sm-8">
                        <h6 class="block-title m-t-50">Hennie Engela <i class="pg-arrow_right m-l-20"></i></h6>
                        <p class="hint-text"></p><p>Chief Executive Officer</p><p></p>
                    </div>
                </div>

                <p class=" m-t-15">
                    </p><p>An EPC visionary building Kentz EPC up to a R350m/a business, then starting Lead EPC, Hennie epitomises the South African saying: ’n boer maak ‘n plan. Hennie loves getting his hands dirty on projects but also leads with honesty and integrity. An electrical engineer by trade but thrives on any challenge.</p>                <p></p>
            </div>
                        <div class="col-sm-6 col-md-4">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- image -->
                                                    <img class="img-responsive" src="/team/jdebeer.gif" alt="Jacques de Beer">
                                                <!-- /image -->
                    </div>
                    <div class="col-sm-8">
                        <h6 class="block-title m-t-50">Jacques de Beer <i class="pg-arrow_right m-l-20"></i></h6>
                        <p class="hint-text"></p><p>Operations Director -<br>
Middle East</p><p></p>
                    </div>
                </div>

                <p class=" m-t-15">
                    </p><p>An ex-ISCOR (Arcelor Mittal) manager, Jacques crossed paths with Hennie on the first Basic Oxygen Refurbishment project – he soon followed Hennie to Kentz and then to Lead EPC. Jacques has gained extensive experience on metals controls, drives and automation projects over a number of years.</p>                <p></p>
            </div>
                        <div class="col-sm-6 col-md-4">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- image -->
                                                    <img class="img-responsive" src="/team/nodendaal.gif" alt="Natie Odendaal">
                                                <!-- /image -->
                    </div>
                    <div class="col-sm-8">
                        <h6 class="block-title m-t-50">Natie Odendaal <i class="pg-arrow_right m-l-20"></i></h6>
                        <p class="hint-text"></p><p>Operations Director -<br>
Sub Sahara Africa</p><p></p>
                    </div>
                </div>

                <p class=" m-t-15">
                    </p><p>From an electrical background, Natie moved into control and automation projects and managed the Gautrain Station and Tunnel Management System (STMS) and Security Access Management System (SAMS) project at Kentz. He has also managed various remote projects in Sierra Leone for Sierra Rutile Limited.</p>                <p></p>
            </div>
                    </div>

    </div>
</section>
