{{ partial "header.html" . }}
{{ partial "pagenav.html" . }}

<div class="page-wrappers">

  <section class="p-b-30 p-t-60 bg-master-lighter ">
    <div class="container">
    <div class="row">
      <div class="col-sm-12">

         <h1 id="title">{{ .Title }}</h1>

         <!-- Tab headers -->
         <ul class="nav nav-tabs" role="tablist">
           {{ range $index, $element := (.Data.Pages.GroupByParam "Year").Reverse }}

                <!-- make the first tab active -->
                 {{ if (eq $index 0) }}
                 <li class="active"><a href="#year{{ .Key }}"aria-controls="year{{ .Key }}" role="tab" data-toggle="tab">{{ .Key }}</a></li>
                 {{ else }}
                 <li><a href="#year{{ .Key }}" aria-controls="year{{ .Key }}" role="tab" data-toggle="tab">{{ .Key }}</a></li>
                 {{ end }}

           {{ end }}
         </ul>


          <!-- Tab content -->
          <div class="tab-content no-padding">
           {{ range $index, $element := (.Data.Pages.GroupByParam "Year").Reverse }}

              <!-- make the first tab active -->
              {{ if (eq $index 0) }}
              <div role="tabpanel" class="tab-pane active" id="year{{ .Key }}">
              {{ else }}
              <div role="tabpanel" class="tab-pane" id="year{{ .Key }}">
              {{ end }}

              <!-- render the project summaries of this year -->
               {{ range .Pages }}
                     {{ .Render "summary"}}
               {{ end }}

            </div>
           {{ end }}
          </div>

        </div>
      </div>
    </div>
  </section>

</div>

<!-- footer -->
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
